@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/**
 * @section Base Styles
 */

html{
	background:rgba(255,255,255,0.9);
	zoom: 100%;
	scroll-behavior: smooth;
	overflow-x:hidden;
}
body {
	font-size: 2vw;
	margin: 0 auto;
	max-width: 1920px;
	width: 100vw;
	max-height:100vh;

}
a:target {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;
}

.owl-carousel {
	display: none;
	overflow:auto;
}
.item{
    position: relative;
    background-size: cover;
    height: 155vw;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    background-position: 50%;
	background-repeat: no-repeat;
	margin:0 auto;

	top: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    background-position: bottom;
    background-repeat: no-repeat;
}
.dBg1,
.dBg2,
.dBg3,
.dBg4{
	background-image: url("");
	// background-size: cover;
	// background-repeat: no-repeat;
}
.none{
	display:none;
}
.block{
	display:block;
}
// #thanku{
// 	color:#fff;
// 	font-size:2.4vw;
// }
.error{
	color:red;
	display:none;
	position: relative;
    margin-top: -2vh;
    margin-bottom: 2vh;
}
.carWrap{
	position: relative;
}
.blue_v{
	display:none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-63%);
	width: 35%;
}
.show{
	display:block;
	z-index: 9999;
	pointer-events: none;
}
// .owl-lazy{
	
// }
.owl-carousel .owl-item .owl-lazy.loaded{
	opacity:1 !important;
}

@media screen and (max-width: 768px) {
	.item{
		height:80vh;//fallback
		// height: calc(var(--vh,1vh)*80);
		min-height:80vh;
		// min-height:calc(var(--vh,1vh)*80);;

	}
}


.no-js .owl-carousel {
	display: block;
}
.owl-carousel.owl-loaded {
	display: block;
}


input,
textarea,
select,
button {
	font: inherit;
}
input{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	width: calc(100% - 0px); /* IE 9,10 , Chrome, Firefox */
    width: -webkit-calc(100% - 0px); /*For safari 6.0*/
}
.inputError::placeholder{
	color:red ;
}
.inputError:-ms-input-placeholder{
	color:red ;
}
.inputError::-webkit-input-placeholder{
	color:red ;
}
.inputError:-moz-placeholder{
	color:red ;
}

.img-responsive {
	width: 100%;
	height: auto;
	}
	
	

.desktop{
	display:block;
}
.mobile{
	display:none;
}


@media screen and (max-width: 768px) {
	.desktop{
		display:none;
	}
	.mobile{
		display:block;
	}
}


// #thanku{
// 	display: none;
//     margin: 0 auto;
//     text-align: center;
//     font-size: 9.4vw;
//     margin-bottom: 15.8vh;
//     margin-top: 21vh;
// }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

// .sticky + .content {
//   // padding-top: 13vh;
// }


.showform{
	display:block !important;
}
.hideform{
	display:none !important;
}

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: 'FontAwesome';
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { 
	// content: "\f046";
	cursor: pointer;
	margin-left: 0.5vw;
	margin-top: 0.1vh;
 } /* space between checkbox and label */

 .noContent:before{
	 content: '';
 }

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before {margin-right: -1px; } /* allow space for check mark */
@media screen and (max-width: 768px) {
	input[type=checkbox] + label:before { 

		cursor: pointer;
		margin-left: 1.5vw;
	 }


}
