// Fonts

// VWHEAD
@font-face {
	font-family: VWHEAD;
	font-weight: 200;/*light*/
	src: url("../fonts/VWHead-Light.otf");
//   src: url("../fonts/ambi-tzar-regular.woff")format('woff');
  
  /* src: url("fonts/ambivalenti-regular-aaa.woff")format(woff);  */
}
@font-face {
	font-family: VWHEAD;
	font-weight: 400;/*regular*/
	src: url("../fonts/VWHead-Regular.otf");
//   src: url("../fonts/ambi-tzar-regular.woff")format('woff');
  
  /* src: url("fonts/ambivalenti-regular-aaa.woff")format(woff);  */
}
@font-face {
	font-family: VWHEAD;
	font-weight: 600;/*bold*/
	src: url("../fonts/VWHead-Bold.otf");
//   src: url("../fonts/ambi-tzar-regular.woff")format('woff');
  
  /* src: url("fonts/ambivalenti-regular-aaa.woff")format(woff);  */
}
@font-face {
	font-family: VWHEAD;
	font-weight: 700;/*extra bold*/
	font-style: normal;
	src: url("../fonts/VWHead-ExtraBold.otf");
}



// VWHebrew
@font-face {
	font-family: VWHebrew;
	font-weight: 200;/*light*/
	src: url("../fonts/VWHebrew-Light.otf");

}
@font-face {
	font-family: VWHebrew;
	font-weight: 400;/*regular*/
	src: url("../fonts/VWHebrew-Regular.otf");
//   src: url("../fonts/ambi-tzar-regular.woff")format('woff');
  
  /* src: url("fonts/ambivalenti-regular-aaa.woff")format(woff);  */
}
@font-face {
	font-family: VWHebrew;
	font-weight: 600;/*bold*/
	src: url("../fonts/VWHebrew-Bold.otf");
//   src: url("../fonts/ambi-tzar-regular.woff")format('woff');
  
  /* src: url("fonts/ambivalenti-regular-aaa.woff")format(woff);  */
}



